* {
  box-sizing: border-box;
}

.details-container {
  width: auto;
  height: 450px;
  background-color: #d9d9d9;
  display: flex;
  margin-left: auto;
  margin-right: 0%;
  padding-top: 4rem;
  border-radius: 10px;
}

.main-title {
  text-align: center;
}

.image-details {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 450px) {
  .details-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-right: 7%;
    margin-left: 3%;
    width: auto;
  }

  .details-container-items {
    padding-left: 1rem;
  }
}
