@import '../../vars';

.button-details {
  background: $gray;
  width: 100%;
  border-radius: 1rem;
  color: $black;
  height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
}
