@import '../../vars';

.action-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: $patrick;

  button {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 10rem;
  }
}
