@import '../../vars';

header {
  height: 4rem;
  background: $black;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $patrick;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  .logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .menu {
    display: flex;
    list-style: none;
    gap: 1rem;

    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
  .fa-bars,
  .menu-mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    .logo-title {
      h1 {
        font-size: 1rem;
      }
    }

    .menu {
      display: none;
    }

    .fa-bars {
      display: block;
      cursor: pointer;
    }

    .menu-mobile.active {
      position: absolute;
      text-decoration: none;
      list-style: none;
      top: 65px;
      background: black;
      width: 91.5%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -1rem;

      li {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        border-top: 1px solid $white;
        padding: 0.3rem;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
